@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

/* 헤더 공간 */
header {
  width: 100%;
  height: 100px;
  background-color: #11580a;
  text-align: center;
  padding: 10px;
  position: fixed;
  /* z축(깊이)를 기준으로 화면 앞으로 나오게
  하거나 뒤로 가게 한다 */
  z-index: 100;
}
header h1 {
  font-family: "TTTtangsbudaejjigaeB";
  font-size: 3em;
  color: white;
}

/* 전체 섹션에 대한 디자인*/
section {
  height: 100vh;
  /* border를 이용해서 가이드 작성-디자인후 지우기 */
}
/* 섹션1 - 배경사진과 글자 위치 */
.s1 {
  background-image: url(fireworks-235813_640.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(15, 14, 14);
  display: flex;
  align-items: center;
  /* justify -content: center사용해도 무방 */
}
.s2 {
  background-color: rgb(189, 168, 48);
}
/* 글자를 조금 뛰우고, 글자 색상 변경  */
.word {
  position: relative;
  left: 1200px;
  bottom: 150px;
  font-size: 1.6em;
  color: rgb(193, 197, 80);
  font-family: "Pretendard-Regular";
}
/* 섹션2에서 그림 추가 */
.gallery {
  display: flex;
  margin-top: 0px;
  justify-content:end;
}
.gallery h2 {
  font-family: "TTTtangsbudaejjigaeB";
  font-size: 3em;
  color: white;

}
.box {
  width: 400px;
  height: 99vh; /*비율에 따라서 바뀌는 값*/
  background-color: gray;
  /*마진값을 하나면 적용하면 위,아래, 양옆에 적용
  마진값을 두개을 넣으면 위아래 / 양옆으로 각각 적용  */
  margin: 5px 20px;
  border-radius: 30px;
}

.pic1 {
  background-image: url(dragon-154565_640.png);
  /* 이미지의 크리를 맞춘다 */
  background-size: cover;
  /* 이미지의 위치를 이동한다 */
  /* 이미지에 따라 left,center, right로 이동 가능 */
  background-position: center;
}
.pic2 {
  background-image: url(fantasy-2635797_1280.jpg);
  /* 이미지의 크리를 맞춘다 */
  background-size: cover;
  /* 이미지의 위치를 이동한다 */
  background-position: left;
}
.pic3 {
  background-image: url(man-8446674_640.png);
  /* 이미지의 크리를 맞춘다 */
  background-size: cover;
  /* 이미지의 위치를 이동한다 */
  background-position: center;
}

/* 푸터에 대한 디자인 */
footer {
  height: 60px;
  background-color: rgb(135, 134, 134);
  padding: 5px;
  text-align: center;
}
